{% extends 'layout.html' %}
{% block body %}
      <h1>CATEGORÍAS</h1>
      <section class="container">
          <div class="box box-primary">
              <div class="box-body">
                <table id="dataphone" class="table table-bordered table-striped">
                    <thead align="center">
                       <tr>
                           <th>Codigo</th>
                           <th>Nombre</th>
                           <th>Descripción</th>
                       </tr> 
                    </thead>
                    <tbody>
                        {% if data|length == 0 %}
                        <tr>
                            <td>Sin Datos</td>
                            <td></td>
                            <td></td>
                        </tr>   
                        {% else %}
                            {% for row in data %}
                            <tr>
                                <th>{{ row[1] }}</th>
                                <th>{{ row[2] }}</th>
                                <th>{{ row[3] }}</th>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
              </div>
          </div>
      </section>
{% endblock %}